#map{
    width:400px;
    height:400px;
}


#sfondoModal{
    position: absolute;
    top:0px;
    left:0px;

    display: none;
    justify-content: center;
    align-items: center;

    background:rgba(0, 0, 0, 0.5);

    width: 100%;
    height: 100vh;
}

#myModal{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
}

#myModal > header{
    font-size: 15pt;
    font-weight: bold;
}

#myModal > main {
    overflow-y: auto;
    max-height: 250px;
}